*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#navbar{
    background-color: #4F5873;
    height: 40%;
    padding: 2%;
    display: flex;
    gap: 2%;
    justify-content: flex-end;
}

#navbar a{
    color: #E9F1F2;
    font-size: 1.5rem;
     text-decoration: none;

}
#welcome-Section{
    height: 100vh;
    background: #73323E;
    color: #E9F1F2;
    font-size: 2rem;
}
.section-div{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;  
    justify-content: center; 
    align-content: center;
    height:inherit
}
.section-div h1, .section-div p{
    align-self: center;
    justify-self: center;
}
#projects{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 3%;
    padding: 4%;
    background-color: #C9DFF2;
}
.project-tile{
   text-decoration: none;
   display: flex;
   flex-direction: column;
}
.project-tile:hover{
    box-shadow: 0px 0px 1px #4F5873, 0px 1px 2px #4F5873;
}
.project-image{
    width: 100%;
}
.project-title{
    background-color: #4F5873;
    padding: 2%;
    color: #E9F1F2;
    text-align: center;
}

#contact{
    padding: 2%;
    padding-bottom: 4%;
    text-align: center;
    background: #73323E;
    color: #E9F1F2;
}
#contact a{
    color: #E9F1F2;
    font-size: 1rem;
     text-decoration: none;
}
#contact a:hover{
    font-size: 1.2rem;
    color: transparent;
    text-shadow: 0px 0px 1px white, 0px 0px 2px white;
}

@media (max-width:500px) {
    #projects{
        grid-template-columns: 1fr;
        margin-bottom: 40%;
        gap: 1%;
    }
}
